<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "LiveStudio" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <.flash_group flash={@flash} />
    <!-- Static sidebar for desktop -->
    <div class="h-screen lg:flex lg:flex-shrink-0" role="region">
      <div class="flex flex-col w-64 border-r border-gray-200 pt-5 pb-4 bg-gray-100">
        <div class="h-0 flex-1 flex flex-col overflow-y-auto">
          <div class="flex items-center flex-shrink-0 px-6">
            <.link navigate={~p"/"}>
              <.icon name="hero-code-bracket-square" class="w-8 h-8 -mt-2 inline-block" />
              <span class="h-8 w-auto text-2xl ml-1 font-bold">
                LiveStudio
              </span>
            </.link>
          </div>
          <div>
            <LeftSideBar.sidebar_user_info current_user={@current_user} />
          </div>
          <nav class="h-full px-3 mt-6">
            <LeftSideBar.sidebar_nav_links />
          </nav>
        </div>
      </div>
    </div>
    <div class="fixed inset-0 flex z-40 sm:ml-64">
      <div class="flex-1 relative z-0 overflow-auto focus:outline-none">
        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
