<.flash_group flash={@flash} />
<div id="projects">
  <h1>Live Projects</h1>
  <ul>
    <li>
      <.link href={~p"/light"}>💡 Light</.link>
    </li>
    <li>
      <.link href={~p"/sandbox"}>🏝 Sandbox</.link>
    </li>
    <li>
      <.link href={~p"/sales"}>📊 Snappy Sales</.link>
    </li>
    <li>
      <.link href={~p"/flights"}>✈️ Flights</.link>
    </li>
    <li>
      <.link href={~p"/boats"}>🚤 Boats</.link>
    </li>
    <li>
      <.link href={~p"/servers"}>👨‍💻 Servers</.link>
    </li>
  </ul>
</div>
