<.flash_group flash={@flash} />
<div id="projects">
  <h1>Live Projects</h1>
  <ul>
    <li>
      <.link href={~p"/light"}>💡 Light</.link>
    </li>
    <li>
      <.link href={~p"/sandbox"}>🏝 Sandbox</.link>
    </li>
  </ul>
</div>
