<.flash_group flash={@flash} />
<div id="projects">
  <h1>Live Projects</h1>
  <ul>
    <li>
      <.link href={~p"/light"}>💡 Light</.link>
    </li>
    <li>
      <.link href={~p"/sandbox"}>🏝 Sandbox</.link>
    </li>
    <li>
      <.link href={~p"/sales"}>📊 Snappy Sales</.link>
    </li>
    <li>
      <.link href={~p"/bingo"}>🅱️ Bingoo!</.link>
    </li>
    <li>
      <.link href={~p"/flights"}>✈️ Flights</.link>
    </li>
    <li>
      <.link href={~p"/vehicles"}>🚙 Vehicles</.link>
    </li>
    <li>
      <.link href={~p"/boats"}>🚤 Boats</.link>
    </li>
    <li>
      <.link href={~p"/athletes"}>🏄🏾‍♀️ Athletes</.link>
    </li>
    <li>
      <.link href={~p"/servers"}>👨‍💻 Servers</.link>
    </li>
    <li>
      <.link href={~p"/donations"}>🍞 Donations</.link>
    </li>
    <li>
      <.link href={~p"/pizza-orders"}>🍕 Pizza Orders</.link>
    </li>
    <li>
      <.link href={~p"/volunteers"}>🙋‍♀️ Volunteers</.link>
    </li>
    <li>
      <.link href={~p"/topsecret"}>🕵🏼 Top Secret</.link>
    </li>
    <li>
      <.link href={~p"/presence"}>👀 Presence Live</.link>
    </li>
  </ul>
</div>
